/*instert resets when connected */

div {
  
}

.top-navbar {
  height: 60px;
}
.nav-elements {
  float: right;
  line-height: 40px;
}
.nav-elements .profile-btn {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  display: inline-block;
  height: 40px;
  vertical-align: middle;
}

.nav-elements .gmail-btn {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  display: inline-block;
  height: 40px;
  vertical-align: middle;
}

.nav-elements .images-btn {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  display: inline-block;
  height: 40px;
  vertical-align: middle;
}

.nav-elements .dots-btn {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  display: inline-block;
  height: 40px;
  vertical-align: middle;
}

.nav-elements .sign-btn {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
  display: inline-block;
  background-color: #2b78e4;
  height: 40px;
  width: 60px;
  vertical-align: middle;
  text-align: center;
}

.google-logo {
  width: 100%;
  height: 125px;
  background: gray;
}

img {
  display: block;
  margin: 25px auto;
  height: 125px;
  width: 400px;
}

.form{
  display: block;
}


.search-bar-stl {
  width: 650px;
  height: 25px;
}
.search-btn {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

.bottom-navbar{
  width: 100%;
  height: 45px;
  background: 45px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 0px;
}

.bottom-navbar{
  background-color: #CECEDE;
  line-height: 40px;
}

.left-elements{
 float: left;
}

.bottom-nav-elements .advertising-btn{
  display: inline-block;
  margin: 5px 20px;
}

.bottom-nav-elements .business-btn{
  display: inline-block;
  margin: 5px 20px;
}

.bottom-nav-elements .about-btn{
  display: inline-block;
  margin: 5px 20px;
}
.right-elements{
  float:  right;
}

.bottom-nav-elements .privacy-btn{
  display: inline-block;
  margin: 5px 20px;
}

.bottom-nav-elements .settings-btn{
  display: inline-block;
  margin: 5px 20px;
}